 <!-- WIDGETS -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/bootstrap/js/bootstrap.js"
      ></script>

      <!-- Bootstrap Dropdown -->

      <!-- <script type="text/javascript" src="{{ pathSite }}design/1/assets/widgets/dropdown/dropdown.js"></script> -->

      <!-- Bootstrap Tooltip -->

      <!-- <script type="text/javascript" src="{{ pathSite }}design/1/assets/widgets/tooltip/tooltip.js"></script> -->

      <!-- Bootstrap Popover -->

      <!-- <script type="text/javascript" src="{{ pathSite }}design/1/assets/widgets/popover/popover.js"></script> -->

      <!-- Bootstrap Progress Bar -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/progressbar/progressbar.js"
      ></script>

      <!-- Bootstrap Buttons -->

      <!-- <script type="text/javascript" src="{{ pathSite }}design/1/assets/widgets/button/button.js"></script> -->

      <!-- Bootstrap Collapse -->

      <!-- <script type="text/javascript" src="{{ pathSite }}design/1/assets/widgets/collapse/collapse.js"></script> -->

      <!-- Superclick -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/superclick/superclick.js"
      ></script>

      <!-- Input switch alternate -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/input-switch/inputswitch-alt.js"
      ></script>

      <!-- Slim scroll -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/slimscroll/slimscroll.js"
      ></script>

      <!-- Slidebars -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/slidebars/slidebars.js"
      ></script>
      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/slidebars/slidebars-demo.js"
      ></script>

      <!-- PieGage -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/charts/piegage/piegage.js"
      ></script>
      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/charts/piegage/piegage-demo.js"
      ></script>

      <!-- Screenfull -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/screenfull/screenfull.js"
      ></script>

      <!-- Content box -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/content-box/contentbox.js"
      ></script>

      <!-- Overlay -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/overlay/overlay.js"
      ></script>

      <!-- Widgets init for demo -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/js-init/widgets-init.js"
      ></script>

      <!-- Theme layout -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/themes/admin/layout.js"
      ></script>

      <!-- Theme switcher -->

      <script
        type="text/javascript"
        src="{{ pathSite }}design/1/assets/widgets/theme-switcher/themeswitcher.js"
      ></script>

    <script>
    $('.categoriasTab').on('click', function (e) {
        var id = $(this).attr("data-id");
        //$("#normal-tabs-"+id).tab('show');
        var tab = "#nav-"+id;
        $('.nav-tabs a[href="' + tab + '"]').tab('show');
    })
    </script>
  </body>
</html>
